

/* GOOGLE FONTS*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


/* BASIC CONFIGURATION */
body {
	background-color:#f2f2f2;
	font-family:'Open Sans',sans-serif;
	font-size:14px;
	color:#f2f2f2;
}

h2,h3,h5,h6 {
	font-family:'Open Sans',sans-serif;
	color:#666;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:500;
	font-size:60px;
	margin-bottom:25px;
}

h2 {
	font-weight:400;
	margin-bottom:15px;
}
h3{
	margin-bottom:1px;
}

h5{
	text-align:center;
}

p{
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}


/* Button Style */
.button-quote a {
	text-decoration: none;
	float: none;
	display: block;
	color: #ffffff;
	font-size: 11px;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	border: 2px;
	border-style:solid solid solid solid;
	padding: 8px 30px 5px 30px;
	transition:all .5s ease-in; 
    -o-transition:all .5s ease-in; 
    -moz-transition:all .5s ease-in; 
    -webkit-transition:all .5s ease-in;
	border-color:#fff;
	text-transform:uppercase;
	margin-left:7px;
	margin-right:7px;
	background-color:transparent;
	text-align:center
}

.button-quote a:hover {
	background-color:#ffffff;
	text-decoration: none;
	float: none;
	display: block;
	font-size: 11px;
	font-weight: 500;
	font-family: 'Open Sans',sans-serif;
	padding: 8px 30px 5px 30px;
	text-transform:uppercase;
}


/********** WRAP CONFIGURATIONS **********/


/* titleWrap */
#titleWrap {
	background: url(../img/Hipster-Background.jpg) no-repeat center center fixed; 
	text-align: left;
	padding-top:0px;
	height: 586px;
    background-size: cover;
    -webkit-filter: grayscale(1);
}

#titleWrap h1 {
	font-size:35px;
	line-height:40px;
}

#titleWrap h1 bold{
	color:#fff;
	font-size:70px;
	line-height:65px;
	margin-left:10px;
	padding-top:20px;
	margin-top:40px;
	font-weight:800;
}

#titleWrap p {
	color:#fff;
	font-size:18px;
	line-height:25px;
	margin-left:10px;
}

#headingHero {
    padding-top: 20px;
    padding-bottom: 70px;
}

/* headerWrap */
#headerWrap {
	background-color:#1abc9c;
	padding:30px 0px;
	text-align:center
}

#headerWrap h2 {
	font-family:'Open Sans', sans-serif;
	font-weight:700;
	color:#f2f2f2;
	font-size:26px;
}


/* projectsWrapWrap */
#projectsWrap {
	padding-top:100px;
    padding-bottom:100px;
	text-align:center;
    color:#333;
}

#projectsWrap i {
    font-size:80px;
}

#projectsWrap .span4 {
	margin-top:15px;
}


/* bottom description in projectsWrap */
.desc {
	margin-top:30px;
	margin-bottom:10px;
	padding:10px;
	color:#2d2d2d;
	background-color:#fff;
}

.desc h5 {
	font-size:17px;
}

.desc p {
	font-size:14px;
}
.desc:hover {
	color:#fff;
}

.desc:hover h5 {
	color:#fff;
}

.icon-angle-down {
	font-size: 50px;
	color: #666;
}

/* testimonalWrap*/
#testimonialWrap {
	background-color:#fff;
	padding:50px 5px 50px 5px;
	text-align:center;
}

#testimonialWrap h3 {
	color:#252525;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:300;
}

#testimonialWrap p {
	text-align:right;
	margin-top:15px;
	font-style:italic
}

#boBen {
    max-width: 90px;
    max-height: 90px;  
}

/* QUOTE WRAP*/
#quoteWrap {
	padding-top:55px;
	padding-bottom:55px;
	background-color:#1abc9c;
}


/* COPYRIGHT WRAP*/
#copyright {
	background-color:#666;
	color:#f2f2f2;
	padding-top:15px;
}

#copyright p {
	font-size:12px;
	margin-left:10px
}