/********** MAIN CONFIGURATION **********/

/* GOOGLE FONTS */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*-- Header Changes --*/
/*-- Should be in order of depth --*/

body, html {
	height: 100%;	
}

#header {
	border-radius: 0;
	margin-bottom: 0px;
}

.siteLink {
	padding-top: 10px;
	padding-bottom: 10px;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}

	.siteLink > a {
		text-decoration: none;
		font-size: 19px;
	}

/*-- Main Content Changes --*/
/*-- Should be in order of depth --*/

#mainContainer {
	height: 100%;
}

#mainContainer .row{
	padding-top: 80px;
	height: 100%;
}

#formTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	color: #343434;
}

#formContent {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 1px;

}

	#formContent > input {
		border-bottom-right-radius: 0em;
		border-bottom-left-radius: 0em;
	}
	
	#formContent > button {
	    border-top-left-radius: 0em;
		border-top-right-radius: 0em;
	}

#listToPush {
	margin-top: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

	

.item {
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 26px;
	margin-bottom: 0px;
}
	
	.item:nth-child(even) {
		background-color: #EDF0F5;
	}





